@import '../../styles/index.scss';

.projects {
  @include flex-container(column, center, center, 4rem);

  .box-container {
    @include flex-container(row, center, center, 2rem);
    flex-wrap: wrap;
    .box {
      @include box(20rem);
      @include flex-container(column, flex-start, center, 1rem);

      .img-box {
        width: 35rem;
        overflow: hidden;
        border-radius: 1.25rem;
        aspect-ratio: 3 / 2;

        @include responsive('medium') {
          width: 25rem;
        }

        @include responsive('small') {
          width: 15rem;
        }
      }

      .btn-container {
        @include flex-container(row, center, center, 1rem);

        .btn {
          width: 8rem;
        }
      }
    }
  }

  @include responsive('medium') {
    gap: 2rem;
  }
}
