/*
* Variables for breakpoints
*/
$mobile-landscape: 568px;
$tablet: 900px;
$desktop: 992px;

/*
* Map for breakpoints
*/
$breakpoints: (
  'small': (
    max-width: $mobile-landscape,
  ),
  'medium': (
    max-width: $tablet,
  ),
  'large': (
    max-width: $desktop,
  ),
);

// Mixin for responsive design
// Usage: @include responsive('small') { ... }
@mixin responsive($size) {
  @media (max-width: map-get(map-get($breakpoints, $size), max-width)) {
    @content;
  }
}

@mixin box($minWidth: 50%) {
  border: 1px solid black;
  border-radius: 1.25rem;
  padding: 2rem;
  justify-items: center;
  min-width: $minWidth;
}

@mixin flex-container(
  $direction: row,
  $justify: center,
  $align: center,
  $gap: 6rem
) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
  gap: $gap;
}
