/*
* Variables for breakpoints
*/
$mobile-landscape: 568px;
$tablet: 768px;
$desktop: 992px;

/*
* Map for breakpoints
*/
$breakpoints: (
  'small': (
    max-width: $mobile-landscape,
  ),
  'medium': (
    max-width: $tablet,
  ),
  'large': (
    max-width: $desktop,
  ),
);

// Mixin for responsive design
// Usage: @include responsive('small') { ... }
@mixin responsive($size) {
  @media (max-width: map-get(map-get($breakpoints, $size), max-width)) {
    @content;
  }
}
