@mixin heading-secondary {
  font-size: 1.5rem;
  font-weight: 300;
  color: $heading_color;
}

@mixin heading {
  font-size: 2rem;
  font-weight: 600;
  color: $heading_color;
}

@mixin sub-heading {
  font-size: 1.125rem;
  font-weight: 600;
  color: $paragraph_color;
}

@mixin paragraph {
  font-size: 1rem;
  font-weight: 400;
  color: $paragraph_color;
}
