$background_color: #f5f5f5;
$background_color_dark: #333;

// $paragraph_color: rgb(85, 85, 85);
$paragraph_color: #3b377c;
$heading_color: #000;
$light_text: #fff;
$sub_heading_color: #7974da;

$cursor_color: #38b8b79c;
