@import '../../styles/index.scss';

.summary {
  @include flex-container();

  .profile-pic {
    width: 25rem;
    height: 25rem;
    border-radius: 50%;
    overflow: hidden;
  }

  .info {
    @include flex-container(column);
    gap: 1.25rem;

    .greeting {
      @include paragraph;
    }

    .name {
      @include heading;
      font-size: 3rem;
      line-height: 2rem;

      @include responsive('small') {
        font-size: 2.5rem;
      }
    }

    .job {
      @include sub-heading;
    }

    .cta-container {
      display: flex;
      gap: 1rem;
    }

    .social-links {
      display: flex;
      gap: 1rem;

      .icon {
        width: 2rem;
        height: 2rem;
      }
    }
  }

  @include responsive('medium') {
    flex-direction: column;
    gap: 2rem;
    padding-top: 6rem;

    .profile-pic {
      width: 20rem;
      height: 20rem;
    }
  }
}
