@import '../../styles/index.scss';

.about {
  @include flex-container(column);

  &-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;

    .about-pic {
      width: 22rem;
      height: 22rem;
      border-radius: 1.25rem;
      overflow: hidden;

      .pic {
        filter: grayscale(100%);
      }

      @include responsive('medium') {
        width: 15rem;
        height: 15rem;
      }
    }

    .about-overview {
      @include flex-container(column);
      width: 50%;
      gap: 2rem;

      .about-box {
        display: flex;
        gap: 1rem;

        .box {
          @include box;

          .icon {
            width: 2rem;
            height: 2rem;
          }

          @include responsive('medium') {
            width: 100%;
          }
        }

        @include responsive('medium') {
          flex-direction: column;
          width: 100%;
        }
      }

      @include responsive('medium') {
        width: 100%;
        padding: 0 2rem;
      }
    }

    @include responsive('medium') {
      flex-direction: column;
      gap: 2rem;
    }
  }

  @include responsive('medium') {
    gap: 2rem;
  }
}
