*{
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Poppins', sans-serif;
  background-color: #f5f5f5;
}

html{
  scroll-behavior: smooth;
}

.poppins-thin {
  font-family: "Poppins", serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", serif;
  font-weight: 300;
  font-style: normal;
}

p {
  color: rgb(85, 85, 85);
}

a{
  color:black;
  text-decoration: none;
  text-decoration-color: white;
  cursor: pointer;
}

img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}