@import '../../styles/index.scss';
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 10rem 1.5rem;
  position: fixed;
  width: 100%;
  top: 0;
  background-color: $background_color;
  box-shadow: 0 0 0.625rem 0 $background_color_dark;
  z-index: 1;

  &-title {
    @include heading;
    font-weight: 400;

    &:hover {
      text-decoration: none;
    }
  }

  &-list {
    @include heading-secondary;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    gap: 1.5rem;

    .nav-link {
      color: $heading_color;
    }
  }

  &-menu {
    display: none;
  }

  @include responsive('medium') {
    padding: 2rem;
    width: 100%;

    &-list {
      display: none;
    }

    &-menu {
      display: block;
      height: 1.5rem;
      width: 1.5rem;
    }
  }
}
